body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7cb7ff;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.encrypt,
.decrypt {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 600px;
  height: 250px;
  overflow: auto;
}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: calc(
    100% - 12px
  ); /* Adjust width to account for padding and borders */
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.output {
  font-size: 16px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
